img {
    max-width: 100%;
}
section {
    margin: 50px 0;
}
* {
    font-family: 'Play', sans-serif;
}
.list-styled-none {
    list-style: none;
}
header .navbar {
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 3;
}
header {
    margin-bottom: 80px;
}
.headLine {
    font-size: 32px;
    font-weight: 700;
}
.headLine-40 {
    font-size: 40px;
    font-weight: 700;
}
.headLine-place {
    font-size: 18px;
    color: #2516C7;
    font-weight: 700;
}
.headLine-product {
    font-size: 16px;
    color: #051f4d;
    font-weight: 700;
}
.headLine-subWhite {
    font-size: 26px;
    color: #2516C7;
}
.headLine-policy {
    font-size: 18px;
    color: #051f4d;
    font-weight: 700;
}
.headLine-product span {
    color: #f2430d;
}
.title-place {
    font-size: 16px;
    color: #fff;
}
.headLine-white {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}
.bg-darkBlue {
    background: #171f5e;
    width: 100%;
    height: auto;
}
.darkBlue {
    color: #171f5e;
}
.lightDarkBlue {
    color: #2516C7;
}
.royalColor {
    color: #e8b730;
}
.subheadLine {
    font-size: 26;
    font-weight: 400;
}
.star {
    font-size: 16px;
    position: relative;
    padding: 0 0 0 25px;
    font-weight: 800;
}
.btn-orange {
    color: #fff;
    padding: 10px 20px;
    background: #f2430d;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.btn-green {
    color: #fff;
    padding: 10px 20px;
    background: #16c72e;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.star::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: url("data:image/svg+xml;utf8, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20%20viewBox%3D%220%200%201536%201896.0833%22%20class%3D%22%22%20fill%3D%22rgba(11%2C%20104%2C%20230%2C%201)%22%3E%20%3Cpath%20d%3D%22M773%201319v127q-1%20292-6%20305-12%2032-51%2040-54%209-181.5-38T372%201664q-13-15-17-36-1-12%204-26%204-10%2034-47t181-216q1%200%2060-70%2015-19%2039.5-24.5t49.5%203.5q24%2010%2037.5%2029t12.5%2042zm-149-251q-3%2055-52%2070l-120%2039q-275%2088-292%2088-35-2-54-36-12-25-17-75-8-76%201-166.5T120%20863t56-32q13%200%20202%2077%2070%2029%20115%2047l84%2034q23%209%2035.5%2030.5T624%201068zm826%20297q-7%2054-91.5%20161T1223%201653q-37%2014-63-7-14-10-184-287l-47-77q-14-21-11.5-46t19.5-46q35-43%2083-26%201%201%20119%2040%20203%2066%20242%2079.5t47%2020.5q28%2022%2022%2061zM778%20733q5%20102-54%20122-58%2017-114-71L232%20186q-8-35%2019-62%2041-43%20207.5-89.5T683%203q40%2010%2049%2045%203%2018%2022%20305.5T778%20733zm662%20108q3%2039-26%2059-15%2010-329%2086-67%2015-91%2023l1-2q-23%206-46-4t-37-32q-30-47%200-87%201-1%2075-102%20125-171%20150-204t34-39q28-19%2065-2%2048%2023%20123%20133.5t81%20167.5v3z%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E") no-repeat;
    top: 0;
    left: 0;
}
section.intro {
    margin: 10px 0;
}
header .navbar {
    background: #05224a;
}
header .logo {
    width: 15%;
    height: 15%;
}
header .navbar .menu ul li {
    margin: 0 15px;
    font-weight: bold;
    font-size: 14px;
}
header .navbar .menu ul li a {
    text-decoration: none;
    color: #fff;
}
header .navbar .menu ul li.phone-number {
    background: #16c72e;
    border-radius: 50px;
    padding: 10px 16px;
    font-size: 16px;
}
#indexPage .intro .carousel-item img {
    height: 100%;
}
#indexPage .intro .carousel {
    padding-bottom: 20px;
}
#indexPage .intro-content .content h3 {
    font-size: 26px;
    color: #2516C7;
    font-weight: bold;
    line-height: 1.2;
}
#indexPage .user-form {
    background: linear-gradient(180deg, rgba(242, 67, 13, 1), rgba(232, 140, 48, 1));
    width: 100%;
    height: auto;
    padding: 25px 0;
}
#indexPage .user-form ul li {
    padding: 0 30px;
}
#indexPage .user-form ul li input {
    border-radius: 50px;
    border: none;
    padding: 5px 50px;
}
#indexPage .user-form ul li a {
    border-radius: 50px;
    border: none;
    background: #16c72e;
    padding: 7px 70px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}
#indexPage .user-form p {
    font-size: 16px;
}
#indexPage .user-form h3 {
    font-size: 26px;
    font-weight: 700;
}
#indexPage .ocean-resident .content h3 {
    font-size: 26px;
    color: #e8b730;
    font-weight: bold;
    line-height: 1.2;
}
#indexPage .hospital {
    background: #171f5e;
}
#indexPage .hospital .content h3 {
    font-size: 26px;
    color: #e8b730;
    font-weight: bold;
    line-height: 1.2;
}
#indexPage .hospital .content ul li {
    font-size: 16px;
    position: relative;
    padding: 0 0 0 25px;
}
#indexPage .hospital .content ul li::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: url("data:image/svg+xml;utf8, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20%20viewBox%3D%220%200%201536%201896.0833%22%20class%3D%22%22%20fill%3D%22rgba(11%2C%20104%2C%20230%2C%201)%22%3E%20%3Cpath%20d%3D%22M773%201319v127q-1%20292-6%20305-12%2032-51%2040-54%209-181.5-38T372%201664q-13-15-17-36-1-12%204-26%204-10%2034-47t181-216q1%200%2060-70%2015-19%2039.5-24.5t49.5%203.5q24%2010%2037.5%2029t12.5%2042zm-149-251q-3%2055-52%2070l-120%2039q-275%2088-292%2088-35-2-54-36-12-25-17-75-8-76%201-166.5T120%20863t56-32q13%200%20202%2077%2070%2029%20115%2047l84%2034q23%209%2035.5%2030.5T624%201068zm826%20297q-7%2054-91.5%20161T1223%201653q-37%2014-63-7-14-10-184-287l-47-77q-14-21-11.5-46t19.5-46q35-43%2083-26%201%201%20119%2040%20203%2066%20242%2079.5t47%2020.5q28%2022%2022%2061zM778%20733q5%20102-54%20122-58%2017-114-71L232%20186q-8-35%2019-62%2041-43%20207.5-89.5T683%203q40%2010%2049%2045%203%2018%2022%20305.5T778%20733zm662%20108q3%2039-26%2059-15%2010-329%2086-67%2015-91%2023l1-2q-23%206-46-4t-37-32q-30-47%200-87%201-1%2075-102%20125-171%20150-204t34-39q28-19%2065-2%2048%2023%20123%20133.5t81%20167.5v3z%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E") no-repeat;
    top: 0;
    left: 0;
}
#indexPage .florida {
    background: url("img/florida-background.jpg") no-repeat center center / cover;
    width: 100%;
    height: 800px;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}
#indexPage .florida h2 {
    font-size: 40;
    font-weight: bold;
}
#indexPage .florida h2 {
    font-size: 40px;
}
#indexPage .florida h3 {
    font-size: 26px;
}
#indexPage .input-box {
    display: inline-block;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background: linear-gradient(180deg, rgba(242, 67, 13, 1), rgb(240, 255, 37));
    padding: 40px 20px 100px;
}
#indexPage .user-form-florida ul li {
    padding: 10px 30px;
}
#indexPage .user-form-florida ul li input {
    border-radius: 50px;
    border: none;
    padding: 10px 70px;
}
#indexPage .user-form-florida ul li a {
    border-radius: 50px;
    border: none;
    background: #16c72e;
    padding: 10px 100px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}
#indexPage .user-form-florida p {
    font-size: 16px;
}
#indexPage .call {
    background: #f2430d;
    padding: 15px 35px;
    display: inline-block;
}
#indexPage .feedback .album-feedback {
    margin-top: 50px;
}
#indexPage .overview .features ul li {
    border-bottom: 1px solid black;
}
#indexPage .advantages a {
    margin: 30px 15px;
}
#indexPage .advantages .item img {
    width: 80px;
    height: 80px;
}
#indexPage .advantages p {
    max-width: 100%;
    padding-left: 10px;
}
#indexPage .advantages .item {
    display: flex;
    align-items: center;
}
#indexPage .advantages {
    padding-bottom: 100px;
}
#indexPage .advantages-ex img {
    border: 3px solid #171f5e;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
#indexPage .advantages-ex .advan {
    padding: 30px 100px;
}
#indexPage .selling-estate-bg {
    background: #16c72e;
    width: 100%;
    height: auto;
}
/* SWIPER SLIDE */
.selling-estate .swiper {
    width: 100%;
    height: 100%;
}
.selling-estate .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.selling-estate .swiper-slide img {
    display: block;
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.selling-estate .swiper-slide {
    height: 800px!important;
}
.selling-estate .swiper-content {
    text-align: start!important;
    padding-top: 20px;
}
.real-img-sec .swiper {
    width: 100%;
    height: 100%;
  }

  .real-img-sec .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .real-img-sec .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .real-img-sec .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  .real-img-sec .swiper {
    width: 100%;
    height: 100%;
  }

 .intro .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .intro .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .intro .swiper {
    margin-left: auto;
    margin-right: auto;
  }
.flower {
    width: 7.5%;
    height: 15%;
    transform: rotate(65deg);
    top: 20%;
    left: 83%;
}
.lotus {
    width: 10%;
    height: 20%;
    transform: rotate(65deg);
    left: 10%;
    top: 40%;
}
.wave {
    width: 9%;
    height: 11%;
    bottom: 2%;
    left: 83%;
}

.general-info .swiper {
    width: 100%;
    height: 100%;
  }

.general-info .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

.general-info .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.diversity {
    background: #05224a;
    width: 100%;
    height: auto;
}
.diversity .product {
    background: #fff;
    height: auto;
    width: 69%;
}
.diversity .product-list .col-4:nth-child(n+1) {
    display: flex;
    justify-content: center;
    padding: 60px 0;
}
.diversity .product .info ul li {
    position: relative;
    margin: 0 0 10px 28px;
}
.diversity .product .info {
    height: 410px;
    padding-top: 20px;
}
.diversity .product .info ul {
    padding-top: 30px;
}
.diversity .product .info ul li::before {
    content: "";
    background: url("data:image/svg+xml;utf8, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20%20viewBox%3D%220%200%201792%201896.0833%22%20fill%3D%22rgba(13%2C%2098%2C%20242%2C%201.0)%22%3E%20%3Cpath%20d%3D%22M1671%20566q0%2040-28%2068l-724%20724-136%20136q-28%2028-68%2028t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28%2068-28t68%2028l294%20295%20656-657q28-28%2068-28t68%2028l136%20136q28%2028%2028%2068z%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E") no-repeat;
    position: absolute;
    top: 0;
    left: -15%;
    width: 20px;
    height: 20px;
}
.diversity .product .btn-orange {
    border-radius: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}
.policies {
    background: url(img/beach-bg.jpeg) no-repeat center center / cover;
    width: 100%;
    background-attachment: fixed;
    height: auto;
}
.policies .price-list, .policies .policy {
    background: #fff;
    position: relative;
    margin: 15px 15px;
}
.policies ul {
    list-style: none;
    padding: 10px 0 0 75px;
}
.policies .price-list::before, .policies .policy::before {
    content: "";
    background: #16c72e;
    position: absolute;
    width: 12%;
    height: 100%;
    left: 0;
}
.policies .price-list::after, .policies .policy::after {
    content: url(img/flower-policy.svg);
    position: absolute;
    top: 50%;
    left: 5px;
    height: 100%;
    width: 10%;
    transform: translateY(-13%);
}
.five-star .utility img {
    border-bottom-right-radius: 50px;
    width: 100%;
}
.five-star .utility.one, .five-star .utility.five  {
    background: #171f5e;
}
.five-star .utility {
    background: #0b68e6;
    color: #fff;
    margin: 15px;
}
.five-star .utility h3 {
    font-size: 18px;
    font-weight: 700;
    padding: 20px 0 40px 15px;
}
.customer-feelings {
    background: #171f5e;
    width: 100%;
}
.customer-feelings .comment {
    background: #fff;
    width: 75%;
    flex-grow: 1;
    padding-bottom: 127px;
    margin-bottom: 15px;
    color: #545454;
}
.customer-feelings .inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.customer-feelings .inner::after {
    position: absolute;
    content: url(img/quote.svg);
    width: 10%;
    height: 10%;
    transform: rotate(180deg);
    top: 67%;
    left: 72%;
}
.customer-feelings .customer1 {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    background: url(img/customer-1.png) no-repeat 70% 50% /cover;
}
.customer-feelings .customer2 {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    background: url(img/customer-2.png) no-repeat 15% 50% /cover;
}
.customer-feelings .customer3 {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    background: url(img/customer-3.png) no-repeat 70% 50% /cover;
}
.customer-feelings .feelings .inner .wrapper .name {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.customer-feelings .feelings .inner .wrapper .type {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}
.customer-feelings .feelings .inner .comment p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    padding: 25px;
}
.customer-feelings .feelings .inner .wrapper .info {
    padding-left: 20px;
}
.real-img-sec .real-img-1 .col-3 img {
    height: 50%;
}
.real-img-sec .real-img-1 .col-6 img {
    height: 100%;
}
.real-img-sec img {
    padding: 10px 0;
}
footer {
    background: url(img/footer-beach.jpg) no-repeat center center / cover;
    background-color: #051f4fe6;
}
footer .headLine-white {
    font-size: 18px;
}
footer ul {
    padding: 10px 0;
}
.blueBackground {
    background: #0a67e9;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    padding: 20px 10px;
}
footer .last-line::before  {
    content: "";
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 800px;
    height: 1px;
    background: #fff;
}